/* "Midnight Green Eagle Green":"1a535c",
  "Medium Turquoise":"4ecdc4",
  "Mint Cream":"f7fff7",
  "Bittersweet":"ff6b6b",
  "Naples Yellow":"ffe66d" */

  * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style for header */
header {
    background-color: #1a535c;
    padding: 20px;
    text-align: left;
    font-size: 30px;
    color: #f7fff7;
}

/* Style for content */
.content {
    float: left;
    padding: 20px;
    width: 70%;
    height: 100%;
    background-color: #f7fff7;
}
/* Style for sidebar */
.sidebar{
    float: right;
    padding: 20px;
    width: 30%;
    height: 100%;
    background-color: #4ecdc4;
}
/* Style for searchbar */
.searchbar{
    float: left;
    width: 100%;
}
.searchbar input[type=text]{
    padding: 5px;
    margin-top: 5px;
    font-size: 18pt;
    border: none;
    width: 75%;
}
.searchbar button{
    float: right;
    padding: 7px 10px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18pt;
    border: none;
    cursor: pointer;
}
.searchbar button:hover{
    background: #ffe66d;

}
/* Style for Nav */
.sidebar nav{
    float: left;
    width: 100%;
    padding: 10px;
}
.sidebar nav ul{
    list-style-type: none;
    padding: 0px;
}
.sidebar nav a{
    display: block;
    color: #1a535c;
    text-align: left;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14pt;
}
.sidebar nav a:hover{
    color: #ffe66d;
    font-weight: bold;

}
/* Style for Contact */

#contact li {
    list-style-type: none;
}

#contact a{    
    text-decoration: none;
    color: black;
}